gris_oscuro = #444
header
	background gris_oscuro
	color white
	padding 1em

	h1
		font-size 18px
		font-weight normal
		padding 0
		margin 0

	.logo 

		figure
			border 1px dashed invert(gris_oscuro)
			height 52px
			width 52px
		
	.usuario
		.avatar
			border 1px dashed invert(gris_oscuro)			
			border-radius 50%
			height 50px
			width 50px
